<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Web Debug">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/css/font-awesome.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/google-code-prettify/prettify.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/css/application.css" rel="stylesheet" type="text/css" media="all">
    <script src="/static/js/jquery.js" type="text/javascript"></script>

    <title>{{ page.title }}</title>
</head>

<body>

    <div class="page-container">
        <div class="page-heading">
            <div class="page-brand">
                <h1 id="project_title"><a href="/">{{ site.name }}</a></h1>
                <h2 id="project_tagline">Fix broken web applications, from servers to clients.</h2>
            </div>
            <div class="page-navbar">
                <div class="page-navbar-container">
                    <ul class="page-nav">
                        <li><a href="/">Home</a>
                        </li>
                        <li><a href="/categories.html">Categories</a>
                        </li>
                        <li><a href="/archive.html">Archives</a>
                        </li>
                        <li><a href="/tags.html">Tags</a>
                        </li>
                    </ul>

                    <form id="nav-search" method="GET" action="/search.html">
                        <div id="search-right-pix">
                            <div id="search-left-pix">
                                <div id="search-center-pix">
                                    <div id="search-icon-pix"></div>
                                    <input name="q" type="text" placeholder="Search">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="page-article">
            {{ content }}
        </div>
        <div class="page-footer">
            <span>
                <p>@2012-2015 <a href="http://webdebug.net">Web Debug</a>
                </p>
            </span>
        </div>
    </div>
    <script src="/static/js/bootstrap.js" type="text/javascript"></script>
    <script src="/static/google-code-prettify/prettify.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('pre').addClass('prettyprint').attr('style', 'overflow:auto');
        prettyPrint();
    });
    </script>
    {% include google_analysis.md %}
    <a class="fork-reveal" style="display: block;" href="https://github.com/aaronz"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub">
    </a>
</body>

</html>
